:root {
    --paper: #f4f4f2;
    --ink: #1a1a1a;
    --rule: #000;
    --alert-red: #8f0001;
    --tag-gray: #636363;

    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;

    --content-max: 78ch;
    --rule-width: 2px;
    --accent-width: 6px;
    --indent: var(--space-2);
    --font-body: 'Lancer-Icons-v1.3.ttf', sans-serif;

    --fs-base: 18px;
    --fs-md: 1rem;
    --fs-sm: 0.95rem;
    --fs-xs: 0.8rem;
    --fs-xl: 2.6rem;


    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-title: 800;
}


body[data-theme="default"] {
    --paper: #f4f4f2;
    --ink: #1a1a1a;
    --rule: #000;
    --alert-red: #8f0001;
    --tag-gray: #636363;
}

body[data-theme="horus"] {
    --paper: #0b0d10;
    --ink: #e6e6e6;
    --rule: #2a2f36;
    --alert-red: #ff2bd6;
    --tag-gray: #8aa0b5;
}


body {
    margin: 0;
    padding: var(--space-3);
    background: var(--paper);
    color: var(--ink);
    font-family: var(--font-body);
    line-height: 1.6;
    font-size: var(--fs-base);

}
