.horus {
    background-color: rgba(0, 0, 0, 0.15);
}


.horus:hover {
    background-color: black;
    animation: distort 0.6s infinite;
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes distort {
    0% {
        text-shadow: 2px 1px #ff00ff, -2px -3px #00ffff;
        transform: translate(-1px, 1px) translate3D(-30px, 0px, 0) rotate(-0.1deg);
        cursor: crosshair;
    }

    25% {
        text-shadow: -2px -3px #ff00ff, 2px 1px #00ffff;
        transform: translate(2px, 1px) translate3D(-30px, 0px, 0) rotate(-0.1deg);
        cursor: cell;
    }

    50% {
        text-shadow: 2px -1px #ff00ff, -4px 1px #00ffff;
        transform: translate(-2px, 1px) translate3D(-30px, 0px, 0) rotate(-0.1deg);
        cursor: col-resize;
    }

    75% {
        text-shadow: -4px -1px #ff00ff, -2px -1px #00ffff;
        transform: translate(3px, 1px) translate3D(-30px, 0px, 0) rotate(-0.1deg);
        cursor: move;
    }

    100% {
        text-shadow: -2px 0 #ff00ff, 2px -1px #00ffff;
        transform: translate(-2px, 0) translate3D(-30px, 0px, 0) rotate(-0.1deg);
        cursor: all-scroll;
    }
}