---
layout: layouts/base.njk
permalink: /search/
title: Search Terminal
---

<div class="card">
  {% sectionHeader "SEARCH TERMINAL" %}
  File Search
  {% endsectionHeader %}

  <p>Enter your search keywords.</p>
  <hr>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<link href="/assets/css/pagefind-overrides.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
	window.addEventListener("DOMContentLoaded", (event) => {
		new PagefindUI({ element: "#search", showSubResults: true });
	});
</script>

  <p class="smallprint">
    Note, this feature is experimental.
  </p>
</div>

</script>
