---
layout: layouts/base.njk
title: ACCESS DENIED
permalink: /access-denied/
---

<div class="card">
  {% sectionHeader "ACCESS DENIED" %}
  ALL ACCESS ATTEMPTS ARE LOGGED
  {% endsectionHeader %}

  <h3>Clearance Required</h3>
  <p>You do not have sufficient clearance to view this document. This attempt has been forwarded to your supervisor.</p>
  <hr>

  <div class="terminal-row">
    <a class="btn btn-primary" href="/">Return to Index</a>
  </div>

  <p class="smallprint">
    If you believe this is an error, contact Oversight for a clearance review.
  </p>
</div>

<div class="card">
  {% sectionHeader "Memorandium" %} 
  From Overseer Chen
  {% endsectionHeader %}
  <p>Excess requess for clearance review will be subject to the same policy as requests for LL increase. (See Protocol: <span class="horus">Rocks Fall; Everybody Dies</span>)</p>
</div>
